@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  color: black;
}

.dark {
  background-color: #212121;
  color: white;
}

body {
  display: flex;
  justify-content: center;
}

a {
  color: #2093fe;
  text-decoration: underline;
}

a:visited {
  color: #135898;
}

.dark a:visited {
  color: #7b9dbd;
}

@font-face {
  font-family: 'SUIT';
  src:
    url(../../public/assets/font/SUIT-Regular.woff2) format('woff2'),
    url(../../public/assets/font/SUIT-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src:
    url(../../public/assets/font/SUIT-Bold.woff2) format('woff2'),
    url(../../public/assets/font/SUIT-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

.t1 {
  @apply font-suit text-48 font-bold leading-120 xs:text-64 sm:text-80;
}

.t2 {
  @apply font-suit text-48 font-bold leading-120 sm:text-64;
}

.h1b {
  @apply font-suit text-36 font-bold leading-120 sm:text-40;
}

.h1r {
  @apply font-suit text-36 font-normal leading-120 sm:text-40;
}

.h2b {
  @apply font-suit text-28 font-bold leading-120 sm:text-32;
}

.h2r {
  @apply font-suit text-24 font-normal leading-120 sm:text-32;
}

.h3b {
  @apply font-suit text-24 font-bold leading-120 sm:text-28;
}

.h3r {
  @apply font-suit text-24 font-normal leading-120 sm:text-28;
}

.p1b {
  @apply font-suit text-20 font-bold leading-140 sm:text-24;
}

.p1r {
  @apply font-suit text-20 font-normal leading-140 sm:text-24;
}

.p2b {
  @apply font-suit text-16 font-bold leading-140 sm:text-20;
}

.p2r {
  @apply font-suit text-16 font-normal leading-140 sm:text-20;
}

.p3b {
  @apply font-suit text-12 font-bold leading-140 sm:text-16;
}

.p3r {
  @apply font-suit text-12 font-normal leading-140 sm:text-16;
}
